In [2]:
# Imports n√©cessaires pour tout le script
import sqlite3
import pandas as pd
import os
from sqlalchemy import create_engine, text
from snowflake.sqlalchemy import URL
from snowflake.connector.errors import OperationalError

# ======================================================================
#                            CONFIGURATION
# ======================================================================

# A. Infos sur la source (votre base de donn√©es locale SQLite)
DB_PATH = '/Users/mory_jr/Library/DBeaverData/workspace6/.metadata/sample-database-sqlite-1/Chinook.db'

# Nom que la table aura dans Snowflake (notre destination)
SNOWFLAKE_TARGET_TABLE = 'ORDERS'

# B. Infos de connexion √† Snowflake (√Ä NE PAS PARTAGER !)
SNOWFLAKE_USER = 'MMEITE'
SNOWFLAKE_PASSWORD = 'Junior-23112002@'
SNOWFLAKE_ACCOUNT = 'GAZDZMH-HZ62376' 
SNOWFLAKE_WAREHOUSE = 'COMPUTE_WH'     # L'entrep√¥t virtuel qui va faire le travail
SNOWFLAKE_DATABASE = 'ETL_PROJECT_DB'  # Le nom de la Base de Donn√©es
SNOWFLAKE_SCHEMA = 'SALES_SCHEMA'      # Le nom du Sch√©ma (sous-dossier)

print("Configuration charg√©e et pr√™te √† √™tre utilis√©e.")

Configuration charg√©e et pr√™te √† √™tre utilis√©e.

In [3]:
# --- Pr√©paration de la Connexion SQLAlchemy ---

# On construit l'adresse compl√®te pour se connecter √† Snowflake
snowflake_url = URL(
    user=SNOWFLAKE_USER,
    password=SNOWFLAKE_PASSWORD,
    account=SNOWFLAKE_ACCOUNT,
    warehouse=SNOWFLAKE_WAREHOUSE,
    database=SNOWFLAKE_DATABASE, 
    schema=SNOWFLAKE_SCHEMA
)

try:
    # On cr√©e le moteur qui g√®re la communication
    engine = create_engine(snowflake_url)
    
    # On ouvre une connexion S√õRE qui se ferme automatiquement gr√¢ce au 'with'
    with engine.connect() as conn_snowflake:
        print(f"‚úÖ Connexion √† Snowflake √©tablie sur {SNOWFLAKE_DATABASE}.{SNOWFLAKE_SCHEMA}.")

        # --- √âtape 1 : Cr√©ation de la Base de Donn√©es et du Sch√©ma ---
        print("\n--- Pr√©paration de la DB et du Sch√©ma dans Snowflake ---")

        # Cr√©e la DB et le Sch√©ma s'ils n'existent pas
        conn_snowflake.execute(text(f"CREATE DATABASE IF NOT EXISTS {SNOWFLAKE_DATABASE}"))
        conn_snowflake.execute(text(f"CREATE SCHEMA IF NOT EXISTS {SNOWFLAKE_SCHEMA}"))
        
        # S'assure d'utiliser le bon entrep√¥t
        conn_snowflake.execute(text(f"USE WAREHOUSE {SNOWFLAKE_WAREHOUSE}"))
        conn_snowflake.execute(text("COMMIT")) # Enregistre les changements DDL
        
        print(f"   -> Contexte DDL pr√™t.")

except OperationalError as e:
    print(f"üõë Erreur critique : Probl√®me d'identifiants ou de r√©seau. {e}")
except Exception as e:
    print(f"üõë Erreur lors de la pr√©paration : {e}")

# L'engine et la connexion sont maintenant ferm√©s, ce qui est normal ici.

‚úÖ Connexion √† Snowflake √©tablie sur ETL_PROJECT_DB.SALES_SCHEMA.

--- Pr√©paration de la DB et du Sch√©ma dans Snowflake ---
   -> Contexte DDL pr√™t.

In [4]:
# --- √âtape 2 : Extraction et Transformation (E & T) ---

order_df = None # Initialisation du DataFrame

if not os.path.exists(DB_PATH):
    print(f"\nüõë Erreur: Fichier de base de donn√©es SQLite non trouv√© √† l'adresse: {DB_PATH}")
    order_df = pd.DataFrame() 
else:
    try:
        print("\n--- Extraction de SQLite vers DataFrame ---")
        conn_sqlite = sqlite3.connect(DB_PATH)
        
        # Requ√™te pour extraire toutes les donn√©es des factures
        query = "SELECT * FROM Invoice;"
        order_df = pd.read_sql_query(query, conn_sqlite)
        
        print(f"   -> DataFrame 'Invoice' charg√© avec {len(order_df)} lignes.")

        # Transformation : On renomme les colonnes pour les faire correspondre √† notre table finale 'ORDERS'
        order_df = order_df.rename(
            columns={
                'InvoiceId': 'ORDER_ID', 
                'CustomerId': 'CUSTOMER_ID', 
                'InvoiceDate': 'ORDER_DATE',
                'Total': 'Total' # S'assurer que 'Total' est bien l√† si elle existe
            }
        )
        print("‚úÖ Transformation: Colonnes cl√©s renomm√©es.")

    except sqlite3.Error as e:
        print(f"üõë Erreur SQLite lors de l'extraction : {e}")
        order_df = pd.DataFrame()
    finally:
        if 'conn_sqlite' in locals() and conn_sqlite:
            conn_sqlite.close()

if not order_df.empty:
    display(order_df.head())
else:
    print("Aucune donn√©e √† charger.")

--- Extraction de SQLite vers DataFrame ---
   -> DataFrame 'Invoice' charg√© avec 412 lignes.
‚úÖ Transformation: Colonnes cl√©s renomm√©es.

,ORDER_ID,CUSTOMER_ID,ORDER_DATE,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total
0,1,2,2009-01-01 00:00:00,Theodor-Heuss-Stra√üe 34,Stuttgart,None,Germany,70174,1.98
1,2,4,2009-01-02 00:00:00,Ullev√•lsveien 14,Oslo,None,Norway,0171,3.96
2,3,8,2009-01-03 00:00:00,Gr√©trystraat 63,Brussels,None,Belgium,1000,5.94
3,4,14,2009-01-06 00:00:00,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,8.91
4,5,23,2009-01-11 00:00:00,69 Salem Street,Boston,MA,USA,2113,13.86

In [5]:
# --- √âtape 3 : Chargement (L) dans Snowflake ---

if order_df is not None and not order_df.empty: 
    
    # Recr√©er l'adresse de connexion car l'ancienne a √©t√© ferm√©e
    snowflake_url = URL(
        user=SNOWFLAKE_USER,
        password=SNOWFLAKE_PASSWORD,
        account=SNOWFLAKE_ACCOUNT,
        warehouse=SNOWFLAKE_WAREHOUSE,
        database=SNOWFLAKE_DATABASE, 
        schema=SNOWFLAKE_SCHEMA
    )

    try:
        # On recr√©e le moteur, puis on ouvre une nouvelle connexion S√õRE avec 'with'
        engine = create_engine(snowflake_url)
        with engine.connect() as conn_snowflake:
            
            print("\n--- D√©but du Chargement du DataFrame vers Snowflake ---")
            
            # On cr√©e le nom complet de la table: "DB"."SCHEMA".TABLE_NAME (IMPORTANT pour Snowflake)
            qualified_table_name = f'"{SNOWFLAKE_DATABASE}"."{SNOWFLAKE_SCHEMA}".{SNOWFLAKE_TARGET_TABLE}'
            
            # Chargement des donn√©es !
            order_df.to_sql(
                qualified_table_name, # On utilise le nom COMPLET pour √©viter les erreurs de contexte
                con=conn_snowflake, 
                if_exists='replace', # Cr√©e la table, ou la remplace si elle existe
                index=False,         # N'ins√®re pas l'index du DataFrame dans la table
                chunksize=10000,
                method='multi',
            )
            
            conn_snowflake.execute(text("COMMIT")) # Confirme l'insertion des donn√©es
            
            print(f"üéâ Chargement de la table '{SNOWFLAKE_TARGET_TABLE}' termin√© avec succ√®s !")

    except Exception as e:
        print(f"\nüõë Erreur critique lors du chargement des donn√©es dans Snowflake : {e}")
        
else:
    print("üõë Chargement annul√© car le DataFrame des commandes est vide.")

print("Fermeture de la connexion Snowflake effectu√©e (gr√¢ce √† la clause 'with').")

--- D√©but du Chargement du DataFrame vers Snowflake ---
üéâ Chargement de la table 'ORDERS' termin√© avec succ√®s !
Fermeture de la connexion Snowflake effectu√©e (gr√¢ce √† la clause 'with').